<%- include('partials/header') %>

<div class="dashboard">
    
    <div class="course-list">
        <h6>Enrolled Courses</h6>
        <% if (enrolledCourses && enrolledCourses.length > 0) { %>
          <% enrolledCourses.forEach(function(enrollment) { %>
              <div class="course">
                  <div>
                      <h3><%= enrollment.course.course_name %></h3>
                      <p><%= enrollment.course.c_description %></p>
                  </div>
                  <div><h2><%= enrollment.grade || 'N/A' %></h2></div>
              </div>
          <% }); %>
      <% } else { %>
          <h2 style="text-align: center;">No Enrolled Courses</h2>
      <% } %>
    </div>

    <!-- Notifications -->
    <div class="notifications">
        <h6>Notifications</h6>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
        <div class="notification">
            <p>Person</p>
            <p>Title</p>
            <button class="close-btn">×</button>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
